@model Documento

@{
	ViewData["Title"] = "Cadastro de Documento";
}

<div class="text-center">
	<h1 class="display-4 m-4">Cadastro</h1>
</div>

<form asp-controller="Documento" asp-action="Cadastrar" method="post" enctype="multipart/form-data">
	<div asp-validation-summary="All"></div>
	<div class="form-group mb-3">
		<label for="codigo" class="mb-1">Código</label>
		<input type="number" min="0" asp-for="Codigo" class="form-control" id="codigo">
		@Html.ValidationMessageFor(doc => doc.Codigo)
	</div>
	<div class="form-group mb-3">
		<label for="titulo" class="mb-1">Título</label>
		<input type="text" asp-for="Titulo" class="form-control" id="titulo" placeholder="Título do Documento">
		@Html.ValidationMessageFor(doc => doc.Titulo)
	</div>
	<div class="form-group mb-3">
		<label for="categoria" class="mb-1">Categoria</label>
		<input type="text" asp-for="Categoria" class="form-control" id="categoria" placeholder="Categoria do Documento">
		@Html.ValidationMessageFor(doc => doc.Categoria)
	</div>
	<div class="form-group mb-3">
		<label for="processo" class="mb-1">Processo</label>
		<select asp-for="ProcessoId" class="form-control" id="processo">
			@Html.ValidationMessageFor(doc => doc.ProcessoId)
			@foreach (var processo in ViewBag.Processos)
			{
				<option value="@processo.Id">@processo.Nome</option>
			}
		</select>
	</div>
	<div class="form-group mb-3">
		<label for="arquivo" class="mb-1">Arquivo</label>
		<input type="file" name="arquivo" asp-for="Arquivo" class="form-control" id="arquivo" placeholder="Arquivo">
		@Html.ValidationMessageFor(x => x.Arquivo)
	</div>
	<button type="submit" class="btn btn-primary">Cadastrar</button>
</form>