@{
	ViewData["Title"] = "Lista de Documentos";
}

@if (TempData["MensagemSucesso"] != null)
{
	<div class="alert alert-success text-center" role="alert">
		<button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
		@TempData["MensagemSucesso"]
	</div>
}

@if (TempData["MensagemErro"] != null)
{
	<div class="alert alert-danger text-center" role="alert">
		<button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
		@TempData["MensagemErro"]
	</div>
}

<h1 class="display-4 m-5 text-center">Documentos</h1>
<table class="table text-light">
	<thead>
		<tr>
			<th scope="col">Código</th>
			<th scope="col">Título</th>
			<th scope="col">Categoria</th>
			<th scope="col">Processo</th>
			<th scope="col">Arquivo</th>
		</tr>
	</thead>
	<tbody>
		@if (ViewBag.Documentos != null)
		{
			@foreach (var documento in ViewBag.Documentos)
			{
				<tr>
					<th scope="row">@documento.Codigo</th>
					<td>@documento.Titulo</td>
					<td>@documento.Categoria</td>
					<td>@documento.Processo.Nome</td>
					@{
						string[] strings = documento.NomeArquivo.Split('.');
						string extensao = (strings[strings.Length - 1]).Substring(0, 3).ToLower();
					}
					<td>
						<a href="/arquivos/@documento.NomeArquivo" target="_blank" class=""><img src="/images/@(extensao).png" style="width: 30px" /></a>
					</td>
				</tr>
			}
		}
	</tbody>
</table>

<a asp-controller="Documento" asp-action="Cadastrar" class="btn btn-info btn-lg me-4 mt-5 text-light flex-fill d-flex align-items-center justify-content-center fs-4 rounded w-25">Adicionar</a>
